<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyA5ZdWAujCl4MildcY5rBFeaYJJD1TH8Ig",
    authDomain: "projectcloudapi-277318.firebaseapp.com",
    databaseURL: "https://projectcloudapi-277318.firebaseio.com",
    projectId: "projectcloudapi-277318",
    storageBucket: "projectcloudapi-277318.appspot.com",
    messagingSenderId: "395258231179",
    appId: "1:395258231179:web:dcf9b49b7bcb2bde7e578e",
    measurementId: "G-93V7Y5HZBW"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
<img [src]="background">
